

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <nav class="flex items-center justify-between px-4 py-2 bg-white shadow-md md:hidden fixed bottom-0 inset-x-0">
       <!-- Navigation Menu -->
       <ul class="flex flex-row justify-between items-center space-x-6 w-full">
       <li>
         <!-- Hamburger Menu -->
         <button id="menu-humburger" class="md:hidden w-8 flex flex-col justify-center items-end gap-[3px] group">
            <span class="block w-full h-[3px] bg-gray-700 rounded transition-all duration-300 group-hover:bg-blue-600"></span>
            <span class="block w-[90%] h-[3px] bg-gray-700 rounded transition-all duration-300 group-hover:bg-blue-600"></span>
            <span class="block w-full h-[3px] bg-gray-700 rounded transition-all duration-300 group-hover:bg-blue-600"></span>
            <span class="block w-[90%] h-[3px] bg-gray-700 rounded transition-all duration-300 group-hover:bg-blue-600"></span>
        </button>
       </li>
        
       
            <li>
                <a href="#" class="w-[40px] flex flex-col items-center text-center text-xs">
                    <div class="w-full rounded-sm py-1 px-2 bg-[#5F708A] text-white flex justify-center items-center">
                        <svg class="fill-white w-6 h-6" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                            <path d="M755.2 938.666667H290.133333C224 938.666667 170.666667 885.333333 170.666667 819.2V204.8C170.666667 ..."></path>
                        </svg>
                    </div>
                    <span>Piutang</span>
                </a>
            </li>
            <li>
                <a href="#" class="w-[40px] flex flex-col items-center text-center text-xs">
                    <div class="w-full rounded-sm py-1 px-2 bg-[#5F708A] text-white flex justify-center items-center">
                        <svg class="fill-white w-6 h-6" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                            <path d="M755.2 938.666667H290.133333C224 938.666667 170.666667 885.333333 170.666667 819.2V204.8C170.666667 ..."></path>
                        </svg>
                    </div>
                    <span>Piutang</span>
                </a>
            </li>
            <li>
                <a href="#" class="w-[40px] flex flex-col items-center text-center text-xs">
                    <div class="w-full rounded-sm py-1 px-2 bg-[#5F708A] text-white flex justify-center items-center">
                        <svg class="fill-white w-6 h-6" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                            <path d="M755.2 938.666667H290.133333C224 938.666667 170.666667 885.333333 170.666667 819.2V204.8C170.666667 ..."></path>
                        </svg>
                    </div>
                    <span>Piutang</span>
                </a>
            </li>
            <li>
                <a href="#" class="w-[40px] flex flex-col items-center text-center text-xs">
                    <div class="w-full rounded-sm py-1 px-2 bg-[#5F708A] text-white flex justify-center items-center">
                        <svg class="fill-white w-6 h-6" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                            <path d="M755.2 938.666667H290.133333C224 938.666667 170.666667 885.333333 170.666667 819.2V204.8C170.666667 ..."></path>
                        </svg>
                    </div>
                    <span>Piutang</span>
                </a>
    </nav>
</body>
</html>