
* {
    /* margin: 0px !important; */
  
}

.sidebar {
    width: 4rem;
    transition: width 0.3s;
    position: fixed; /* Pastikan sidebar tidak mengganggu layout lainnya */
    z-index: 1000;
}

.sidebar:hover {
    width: 15rem;
}

.sidebar-item {
    position: relative;
    display: flex;
    align-items: center;
}

.sidebar-submenu {
    display: none;
    position: relative;
    align-items: center;
}

.sidebar-item .text {
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s;
    margin-left: 0.5rem;
}

.sidebar:hover .sidebar-item .text {
    opacity: 1;
    margin-left: 1rem;
}

.sidebar .sidebar-submenu.active {
    display: block;
}

.sidebar-submenu-item {
    padding-left: 3rem;
}

.arrow {
    margin-left: auto;
    cursor: pointer;
} 

/* humburger menu sidebar */
/* humburger menu sidebar */
.humburger span {
    transition: all 0.3s ease-in-out;
}

.humburger span:first-child {
    transform: rotate(-45deg) translateY(10px) translateX(-5px);
}

.humburger span:nth-child(2) {
    opacity: 0;
}

.humburger span:nth-child(3) {
    opacity: 0;
}

.humburger span:last-child {
    transform: rotate(45deg) translateY(-10px) translateX(-5px);
    width: 100%;
}

